[submodule "lib/buttplug-rs-ffi"]
	path = lib/buttplug-rs-ffi
	url = https://github.com/buttplugio/buttplug-rs-ffi.git
[submodule "lib/intiface-engine"]
	path = lib/intiface-engine
	url = https://github.com/intiface/intiface-engine
	branch = master
